.searchResult{
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;   /* Add line under each result */
    opacity: 1;
    cursor: pointer;
}

.searchResult:hover{
    opacity: 0.8;
}

.searchResult > img {
    height: 200px;
    width: 350px;
    border-radius: 10px; /* Round corners */
    overflow: hidden; /*  */
}

.searchResult_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.searchResult_heart { /* Gave its parent, `searchResult`, relative position. Give child absolute position, will be absolute to searchResult */
    position: absolute;
    top: 20px;
    right: 40px;  /* Move heart to the right */
}

.searchResult_info_top {
    width: 40vw;
}

.searchResult_info_top > h3 {
    font-weight: 300;
    margin-top: 10px;
}


.searchResult_info_top > p {
    margin-top: 10px;
    font-size: 13px;
    color: gray;
  }
  
.searchResult_info_btm {
    display: flex;
    justify-content: space-between;
}


.searchResult_star {
    color: red;
}


.searchResult_stars {
    display: flex;
    align-items: center;
}

.searchResult_price {
    position: absolute;
    bottom: 20px;
    right: 30px;
}